#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
/***********COMPONANTS*****************/

/*NAVBAR*/
nav {
  background-color: #535151;
  padding: 40px 0px 40px;
  width: 100%;
  color: #ff2f2f;
  text-align: center;
}

.navbar-list {
  margin: 0;
  padding: 0;
}

.navbar-item {
  display: inline;
  margin: 1rem;
}

.navbar-item a:hover {
  text-decoration: underline;
}

/*FOOTER*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #4c4a4a;
  padding: 20px 0 20px;
  color: #ffffff;
  text-align: center;
}

/*SIDEBAR*/

.sidebar-container {
  color: #2a4255;
  background-color: lightgray;
  padding: 10px;
  width: 15%;
  height: 100vh;
}

/*********************PAGES**********************/

/*WELCOME PAGE*/

.welcome-container {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.welcome-div {
  position: absolute;
}

/*HOME PAGE*/

.home-container {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.home-div {
  position: absolute;
}

/*ABOUT PAGE*/

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
